$desktop: 992px;
$tablet: 762px;
$mobile: 652px;
$mobile-mini: 442px;

@mixin desktop {
    @media screen and (max-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}
@mixin mobile-mini {
    @media screen and (max-width: $mobile-mini) {
        @content;
    }
}