:root {
	--font-family: "Lexend Deca", sans-serif;
	--second-family: "Arvo", sans-serif;

	--background: #020617;
	--bg-light: #111827;
	--color-standart: #fff;
	--color-title: #f3f4f6;
	--color-desc: #6b7280;
	--color-btn: #facc15;
	--color-btn-text: #000;
	--color-header-link: #9ca3af;
	--color-text: #eab308;

	--font-size-logo: 24rem;
	--font-size-title: 42rem;
	--font-size-desc: 16rem;


	--standart-padding: 96rem 0rem 96rem 0rem;
	--desktop-padding: 50rem 0rem 50rem 0rem;
}