.experience {
    padding: var(--standart-padding);
    @include desktop{
        padding: var(--desktop-padding);
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: var(--font-size-title);
        line-height: 152%;
        color: var(--color-title);
        margin-bottom: 24rem;
        @include mobile-mini{
            font-size: 30rem;
        }

        span {
            color: var(--color-text);
        }
    }

    &__desc {
        font-weight: 400;
        font-size: var(--font-size-desc);
        line-height: 169%;
        color: var(--color-header-link);
        margin-bottom: 80rem;
        max-width: 730rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
        gap: 29rem;
        @include mobile-mini{
            grid-template-columns: 1fr;
        }
    }

    &__block {
        border-radius: 12rem;
        padding: 32rem;
        background: var(--background);
        transition: .3s all ease-in-out;
        &:hover{
            box-shadow: 0px 0px 15px 3px var(--color-text);
            transform: scale(1.02);
        }

        &__year {
            font-weight: 400;
            font-size: 20rem;
            line-height: 135%;
            color: #d1d5db;
            margin-bottom: 8rem;
        }

        &__title {
            font-weight: 700;
            font-size: 26rem;
            line-height: 158%;
            color: var(--color-text);
            margin-bottom: 4rem;
        }

        &__editor {
            font-weight: 700;
            font-size: 16rem;
            line-height: 169%;
            color: #d1d5db;
            margin-bottom: 8rem;
        }

        &__desc {
            font-weight: 400;
            font-size: 16rem;
            line-height: 169%;
            color: var(--color-desc);
            padding: 8rem;
        }
    }
}