.portfolio {
    padding: var(--standart-padding);

    &__title {
        font-weight: 700;
        font-size: var(--font-size-title);
        line-height: 152%;
        color: var(--color-title);
        text-align: center;
        margin-bottom: 24rem;

        span {
            color: var(--color-text);
        }
    }

    &__desc {
        font-weight: 400;
        font-size: var(--font-size-desc);
        line-height: 169%;
        color: var(--color-header-link);
        max-width: 461rem;
        margin-inline: auto;
        margin-bottom: 80rem;
        text-align: center;
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
        gap: 28rem;

        @include mobile {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__item {
        img {
            width: 100%;
        }

        &:first-child {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}