.welcome {
    padding: var(--standart-padding);

    &__items {
        display: flex;
        justify-content: space-between;
        max-width: 1092rem;
        margin: 0rem 26rem 0rem 8rem;
    }

    &__text {
        margin: 78rem 0rem 78rem 0rem;
        max-width: 466rem;

        p {
            font-weight: 400;
            font-size: var(--font-size-desc);
            line-height: 169%;
            color: var(--color-text);
            margin-bottom: 24rem;
        }
    }

    &__title {
        font-weight: 700;
        font-size: var(--font-size-title);
        line-height: 152%;
        color: var(--color-title);
        margin-bottom: 8rem;
    }

    &__decsription {
        font-weight: 400;
        font-size: var(--font-size-desc);
        line-height: 169%;
        color: var(--color-desc);
        margin-bottom: 24rem;
    }

    &__btn {
        border-radius: 4rem;
        padding: 8rem 20rem;
        width: 123rem;
        height: 43rem;
        background: var(--color-btn);

        a {
            font-weight: 400;
            font-size: var(--font-size-desc);
            line-height: 169%;
            color: var(--color-btn-text);
        }
    }

    &__img {
        max-width: 100%;
    }
}