.welcome {
    padding: var(--standart-padding);
    @include desktop{
        padding: var(--desktop-padding);
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0rem 26rem 0rem 8rem;
        gap: 20rem;
        @include tablet{
            flex-direction: column;
            align-items: center;
        }
    }

    &__text {
        max-width: 466rem;

        p {
            font-weight: 400;
            font-size: var(--font-size-desc);
            line-height: 169%;
            color: var(--color-text);
            margin-bottom: 24rem;
        }
    }

    &__title {
        font-weight: 700;
        font-size: var(--font-size-title);
        line-height: 152%;
        color: var(--color-title);
        margin-bottom: 8rem;
        @include mobile-mini{
            font-size: 30rem;
        }
    }

    &__decsription {
        font-weight: 400;
        font-size: var(--font-size-desc);
        line-height: 169%;
        color: var(--color-desc);
        margin-bottom: 24rem;
    }

    &__btn {
        padding: 8rem 20rem;
        background: var(--color-btn);
    }

    &__img {
        max-width: 100%;
    }
}