* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --font-family: "Lexend Deca", sans-serif;
  --second-family: "Arvo", sans-serif;
  --background: #020617;
  --bg-light: #111827;
  --color-standart: #fff;
  --color-title: #f3f4f6;
  --color-desc: #6b7280;
  --color-btn: #facc15;
  --color-btn-text: #000;
  --color-header-link: #9ca3af;
  --color-text: #eab308;
  --font-size-logo: 24rem;
  --font-size-title: 42rem;
  --font-size-desc: 16rem;
  --standart-padding: 96rem 0rem 96rem 0rem;
  --desktop-padding: 50rem 0rem 50rem 0rem;
}

html {
  font-size: 1px;
}
@media screen and (max-width: 762px) {
  html {
    font-size: 0.9px;
  }
}
@media screen and (max-width: 652px) {
  html {
    font-size: 0.8px;
  }
}

body {
  font-size: 16rem;
  background: var(--background);
  font-family: var(--font-family);
  color: --color-standart;
}

@media screen and (max-width: 992px) {
  body.lock {
    overflow: hidden;
  }
}

.container {
  padding: 0 20rem;
  max-width: 1166rem;
  margin-inline: auto;
}

.bg-light {
  background: var(--bg-light);
}

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 4rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size-desc);
  line-height: 169%;
  color: var(--color-btn-text);
  border: 0;
}

.header {
  padding: 16px 0px 16px 0px;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: 700;
  font-size: var(--font-size-logo);
  color: var(--color-standart);
}
.header__logo span {
  color: var(--color-text);
}
.header__menu {
  padding: 0 20rem;
}
.header__list {
  display: flex;
  gap: 27rem;
}
@media screen and (max-width: 992px) {
  .header__list {
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(19, 20, 54, 0.96);
    overflow: auto;
    display: flex;
    gap: 50rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .3s all ease-in-out;
  }
  .header__list.active {
    left: 0;
  }
}
.header__link {
  font-weight: 400;
  font-size: var(--font-size-desc);
  text-transform: uppercase;
  color: var(--color-header-link);
  transition: .3s all ease-in-out;
}
.header__link:hover {
  font-weight: 400;
  font-size: 16rem;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .header__link {
    font-size: 20rem;
  }
}

.burger-close {
  position: fixed;
  width: 70%;
  top: 0;
  left: -100%;
  display: flex;
  justify-content: right;
  padding-top: 30rem;
  padding-right: 30rem;
  z-index: 2;
  color: var(--color-text);
  transition: .3s all ease-in-out;
}
.burger-close:hover {
  color: #706f25;
}
.burger-close.active {
  left: 0;
}

.burger-close-item {
  font-size: 50rem;
}

.burger-open {
  display: none;
}
@media screen and (max-width: 992px) {
  .burger-open {
    display: inline-block;
    color: var(--color-text);
    font-size: 50rem;
  }
}
.burger-open.active {
  color: #706f25;
}

.burger-close-outside {
  position: fixed;
  width: 30%;
  height: 100%;
  top: 0;
  right: -100%;
}
.burger-close-outside.active {
  right: 0;
}

.welcome {
  padding: var(--standart-padding);
}
@media screen and (max-width: 992px) {
  .welcome {
    padding: var(--desktop-padding);
  }
}
.welcome__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 26rem 0rem 8rem;
  gap: 20rem;
}
@media screen and (max-width: 762px) {
  .welcome__items {
    flex-direction: column;
    align-items: center;
  }
}
.welcome__text {
  max-width: 466rem;
}
.welcome__text p {
  font-weight: 400;
  font-size: var(--font-size-desc);
  line-height: 169%;
  color: var(--color-text);
  margin-bottom: 24rem;
}
.welcome__title {
  font-weight: 700;
  font-size: var(--font-size-title);
  line-height: 152%;
  color: var(--color-title);
  margin-bottom: 8rem;
}
@media screen and (max-width: 442px) {
  .welcome__title {
    font-size: 30rem;
  }
}
.welcome__decsription {
  font-weight: 400;
  font-size: var(--font-size-desc);
  line-height: 169%;
  color: var(--color-desc);
  margin-bottom: 24rem;
}
.welcome__btn {
  padding: 8rem 20rem;
  background: var(--color-btn);
}
.welcome__img {
  max-width: 100%;
}

.about {
  padding: var(--standart-padding);
}
@media screen and (max-width: 992px) {
  .about {
    padding: var(--desktop-padding);
  }
}
.about__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 8rem 0rem 8rem;
  gap: 50rem;
}
@media screen and (max-width: 992px) {
  .about__items {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }
}
.about__block {
  border: 16px solid var(--color-text);
  border-radius: 24rem;
  width: 475rem;
  height: 502rem;
  position: relative;
}
@media screen and (max-width: 442px) {
  .about__block {
    transform: scale(0.7);
  }
}
.about__block img {
  position: absolute;
  left: 19rem;
  bottom: 21rem;
  max-width: 107.2%;
}
.about__text {
  max-width: 509rem;
}
.about__title {
  font-weight: 700;
  font-size: var(--font-size-title);
  line-height: 152%;
  color: var(--color-title);
  margin-bottom: 32rem;
}
@media screen and (max-width: 442px) {
  .about__title {
    font-size: 30rem;
  }
}
.about__title span {
  color: var(--color-text);
}
.about__desc {
  font-weight: 400;
  font-size: var(--font-size-desc);
  line-height: 169%;
  color: var(--color-desc);
  margin-bottom: 40rem;
}
.about__desc p:first-child {
  padding-bottom: 18rem;
}
.about__btn {
  font-family: var(--second-family);
  padding: 16rem 20rem;
  background: var(--color-text);
}

.service {
  padding: var(--standart-padding);
}
@media screen and (max-width: 992px) {
  .service {
    padding: var(--desktop-padding);
  }
}
.service__title {
  font-weight: 700;
  font-size: var(--font-size-title);
  line-height: 152%;
  color: var(--color-title);
  margin-bottom: 24rem;
}
@media screen and (max-width: 442px) {
  .service__title {
    font-size: 30rem;
  }
}
.service__title span {
  color: var(--color-text);
}
.service__desc {
  font-weight: 400;
  font-size: var(--font-size-desc);
  line-height: 169%;
  color: var(--color-desc);
  max-width: 461rem;
  margin-bottom: 56rem;
}
.service__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30rem;
  text-align: center;
}
.service__items svg {
  fill: var(--color-text);
}
@media screen and (max-width: 442px) {
  .service__items {
    grid-template-columns: 1fr;
  }
}
.service__block {
  background: var(--background);
  border-radius: 12rem;
  padding: 32rem;
  transition: .3s all ease-in-out;
}
.service__block:hover {
  box-shadow: 0px 0px 15px 3px var(--color-text);
  transform: scale(1.02);
}
.service__block__title {
  margin-inline: auto;
  max-width: 204rem;
  font-weight: 700;
  font-size: 26rem;
  line-height: 158%;
  color: var(--color-title);
  margin-top: 32rem;
  margin-bottom: 16rem;
}
.service__block__desc {
  font-weight: 400;
  font-size: var(--font-size-desc);
  line-height: 169%;
  color: var(--color-desc);
}

.portfolio {
  padding: var(--standart-padding);
}
@media screen and (max-width: 992px) {
  .portfolio {
    padding: var(--desktop-padding);
  }
}
.portfolio__title {
  font-weight: 700;
  font-size: var(--font-size-title);
  line-height: 152%;
  color: var(--color-title);
  text-align: center;
  margin-bottom: 24rem;
}
@media screen and (max-width: 442px) {
  .portfolio__title {
    font-size: 30rem;
  }
}
.portfolio__title span {
  color: var(--color-text);
}
.portfolio__desc {
  font-weight: 400;
  font-size: var(--font-size-desc);
  line-height: 169%;
  color: var(--color-header-link);
  max-width: 461rem;
  margin-inline: auto;
  margin-bottom: 80rem;
  text-align: center;
}
.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 28rem;
}
@media screen and (max-width: 652px) {
  .portfolio__gallery {
    grid-template-columns: 1fr 1fr;
  }
}
.portfolio__item img {
  width: 100%;
}
.portfolio__item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.experience {
  padding: var(--standart-padding);
}
@media screen and (max-width: 992px) {
  .experience {
    padding: var(--desktop-padding);
  }
}
.experience__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: var(--font-size-title);
  line-height: 152%;
  color: var(--color-title);
  margin-bottom: 24rem;
}
@media screen and (max-width: 442px) {
  .experience__title {
    font-size: 30rem;
  }
}
.experience__title span {
  color: var(--color-text);
}
.experience__desc {
  font-weight: 400;
  font-size: var(--font-size-desc);
  line-height: 169%;
  color: var(--color-header-link);
  margin-bottom: 80rem;
  max-width: 730rem;
}
.experience__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
  gap: 29rem;
}
@media screen and (max-width: 442px) {
  .experience__items {
    grid-template-columns: 1fr;
  }
}
.experience__block {
  border-radius: 12rem;
  padding: 32rem;
  background: var(--background);
  transition: .3s all ease-in-out;
}
.experience__block:hover {
  box-shadow: 0px 0px 15px 3px var(--color-text);
  transform: scale(1.02);
}
.experience__block__year {
  font-weight: 400;
  font-size: 20rem;
  line-height: 135%;
  color: #d1d5db;
  margin-bottom: 8rem;
}
.experience__block__title {
  font-weight: 700;
  font-size: 26rem;
  line-height: 158%;
  color: var(--color-text);
  margin-bottom: 4rem;
}
.experience__block__editor {
  font-weight: 700;
  font-size: 16rem;
  line-height: 169%;
  color: #d1d5db;
  margin-bottom: 8rem;
}
.experience__block__desc {
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--color-desc);
  padding: 8rem;
}

.contact {
  padding: var(--standart-padding);
}
@media screen and (max-width: 992px) {
  .contact {
    padding: var(--desktop-padding);
  }
}
.contact__title {
  font-weight: 700;
  font-size: var(--font-size-title);
  line-height: 152%;
  text-align: center;
  color: var(--color-title);
  margin-bottom: 24rem;
}
.contact__title span {
  color: var(--color-text);
}
.contact__desc {
  font-weight: 400;
  font-size: var(--font-size-desc);
  line-height: 169%;
  text-align: center;
  color: var(--color-header-link);
  max-width: 685rem;
  margin-inline: auto;
  margin-bottom: 56rem;
}
.contact__row {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .contact__row {
    justify-content: space-around;
  }
}
@media screen and (max-width: 652px) {
  .contact__row {
    flex-direction: column;
    align-items: center;
    flex-direction: column;
  }
}
.contact__item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 256%;
  color: #f3f4f6;
}
.contact__item span {
  font-weight: 700;
  color: var(--color-text);
}
.contact__info {
  margin: 50rem 0rem 50rem 0rem;
  max-width: 347rem;
  display: flex;
  flex-direction: column;
  gap: 16rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 32rem;
  width: 540rem;
}
@media screen and (max-width: 992px) {
  .contact__form {
    width: 250rem;
  }
}
.contact__btn {
  padding: 16rem 20rem;
  max-width: fit-content;
  background: var(--color-text);
}

.field1 {
  display: block;
}
.field1 input {
  width: 100%;
  border: 0;
  outline: 0;
  background: #1f2937;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 256%;
  color: #f3f4f6;
  padding: 11rem 5rem 11rem 18rem;
}
.field1 input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 256%;
  color: #898c92;
}

.field2 {
  display: block;
}
.field2 textarea {
  width: 100%;
  background: #1f2937;
  border: 0;
  outline: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 256%;
  color: #f3f4f6;
  resize: vertical;
  min-height: 166rem;
  max-height: 400rem;
  padding: 10rem 5rem 5rem 18rem;
}
.field2 textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 256%;
  color: #898c92;
}

.footer__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40rem;
  text-align: center;
  color: #fff;
  margin-top: 56rem;
  margin-bottom: 24rem;
}
.footer__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  text-align: center;
  color: var(--color-header-link);
  margin-bottom: 55rem;
  max-width: 685rem;
  margin-inline: auto;
}
.footer__social {
  display: flex;
  gap: 16rem;
  justify-content: center;
  margin-bottom: 56rem;
}
.footer__social svg {
  fill: var(--color-text);
}
